{% extends 'base.html.twig' %}

{% block title %}Hello CalendarController!{% endblock %}

{% block body %}
<!DOCTYPE html>
        <html>
        <head>
           <style>
        #calendar {
            width: 50%;
            margin: auto;
        }
        </style>
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar/index.global.min.js'></script>
             <script src='fullcalendar/dist/index.global.js'></script>
            <script>
            document.addEventListener('DOMContentLoaded', function() {
                const calendarEl = document.getElementById('calendar')
                const calendar = new FullCalendar.Calendar(calendarEl, {
                // plugins: [ interactionPlugin, dayGridPlugin ],
                initialView: 'dayGridMonth',
                selectable: true,
                locale : 'fr',
                timeZone : 'Europe/Paris',
                headerToolbar : {
                    start : 'prev,next today',
                    center : 'title',
                    end : 'dayGridMonth,timeGridWeek'
                },
                events: {{ calendarEvents|json_encode|raw }}, // Utilisez les événements ici
                })
                calendar.render()
            })
            </script>
        </head>

        <body>
            <div id='calendar'></div>
        </body>
            
</html>
{% endblock %}
