{% extends 'base.html.twig' %}

{% block title %}Erreur 404!{% endblock %}

{% block body %}
  <div class="messageerror">
    <h1>Erreur 404 <br> L'événement recherché n'existe pas</h1>
  </div>

  <script src="/assets/JavaScript/test.js"></script>
{% endblock %}
